
$fondo:#ffffeeff;
$bordergroso:12px solid rgb(114, 120, 111);

body{
    margin:0px;
    background-color: $fondo;
   
   

}
@mixin FPadreCunt($justiCo,$highto,$noOsiW){
    display: flex;
    flex-wrap: $noOsiW;
    justify-content: $justiCo;
    height: $highto;
}

.logoenPantasha {
    
   @include FPadreCunt(center,10vh,nowrap);
    .logono {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.centrador{

    @include FPadreCunt(center,45vh,wrap);
    position: relative;
    top:6em;
    #bloquePuzzle{
        //border:1px solid black;
        justify-content: center;
        align-items: center;
        width: 32em;
        
    }
}

 