
body{
    $fondo:#4f4f4fff;
    margin:0px;
    background-color: $fondo;

}


.interactive-canvas{

    display: flex;
    position: absolute;
    justify-content: center;
    left: 50%;
    top:50%;
    translate:-50% -50%;
    width: 95%;
    height: 90%;
    padding: 1em;
    border: 1px solid #f1ff88;
    

    #Bassei{
        position: relative;
        margin: 1em;
        border: 1px solid rgb(3, 255, 61);
        
    }
    
   #bassei-webcam{
        display: none;
    }
}
